@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Delivery System do ED  e Dante</h1>
    <p class="lead">Agora você pode pedir sua marmitex de forma online, e com apenas alguns cliques.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Veja mais detalhes aqui &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empresas de TI</h2>
        <p>
            Empresas de TI ou demais empresas podem se cadastrar no site para posteriormente os funcionários possam solicitar marmitex por delivery.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Mais detalhes aqui&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Funcionários</h2>
        <p>Aqui o funcionário pode cadastrar para solicitar marmitex.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Mais detalhes aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fornecedora de Marmitex</h2>
        <p>As fornecedoras de marmites, podem se cadastrar e colocar seu cardápio diário para que os funcionários possam fazer pedidos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Mais detalhes aqui &raquo;</a></p>
    </div>
</div>